@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700;1,900&display=swap');

html {
  font-family: 'Roboto', sans-serif;
}

body {
  text-align: center;
  background-color: black;
}

/* w3schools is my passion */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.center{
    padding-top: 7%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: center;
    justify-content: center;
  }
  #box {
    text-align: center;
    width: 350px;
    height: 550px;
    color: white;
    font-family: 'Roboto', sans-serif;
      font-style: italic;
      font-weight: 900;
    font-size: 2.5rem;
    flex: 0 1 auto;
  }
  .gradient-border {
    --borderWidth: 8px;
    background: #191919;
    position: absolute;

  }
  .gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    z-index: -1;
    animation: animatedgradient 5s ease alternate infinite;
    background-size: 300% 300%;
  }
}
@media only screen and (orientation: portrait) and (min-width: 900px) {
  .center{
    padding-top: 20%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: center;
    justify-content: center;
  }
  #box {
    text-align: center;
    width: 350px;
    height: 600px;
    color: white;
    font-family: 'Roboto', sans-serif;
      font-style: italic;
      font-weight: 900;
    font-size: 3.0rem;
    flex: 0 1 auto;
  }
  .gradient-border {
    --borderWidth: 8px;
    background: #191919;
    position: absolute;

  }
  .gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    z-index: -1;
    animation: animatedgradient 5s ease alternate infinite;
    background-size: 300% 300%;
  }
}
a {
	text-decoration: none;
	color: white;
	text-shadow: 1px 1px 0px rgba(8, 230, 255, 1), -1px -1px 0px rgba(255, 0, 0, 1);
  transition: 200ms linear;
}

a:hover {
	color: black;
  transition: 200ms linear;
}
h1 {
  font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 900;
}
hr {
  color: #1E1E1E; /* omg fragt mich nicht wie clean ich bitte an die farbe gekommen bin */
}

.slider {
  -webkit-appearance: none;
  width: 33%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;

}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #5c6bc0;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #5c6bc0;
  cursor: pointer;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
    to {
      -webkit-filter: hue-rotate(360deg);
    }
}
